.library {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(33, 96, 18);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-left: 30px solid black;
    font-size: 12px;
    width: 200px;
    height: 300px;
    background-size: cover;
}

.book.disabled {
    background: grey;
}

.textbook {
    background: red;
}

.ebook {
    background: lightblue;
    color: black;
}

.book_title {
    font-size: 1.5em;
}

.book_actions {
    margin: 10px 0;
    text-align: center;
}